alias ls='exa'
alias ll='ls -l'
alias la='ls -la'
alias x='exit'
alias v='nvim'
alias vi='nvim'
alias vim='nvim'
alias up='cd ..'
alias c='clear'
alias o='open .'
alias rf='rm -rf'
alias t='tree -L 1'
alias cat='bat'

# Python
alias python=python3
alias ac='source venv/bin/activate'
alias dc=deactivate

alias aliasconfig='vim ~/.aliases'
alias zshconfig='vim ~/.zshrc'
alias vimconfig='vim ~/.config/nvim/init.vim'
alias tmuxconfig='vim ~/.tmux.conf'
alias gitconfig='vim ~/.gitconfig'

alias ga='git add -p'
alias gdi='git checkout -- .'

## K8S
alias k='kube-prompt'
alias ktx='kubectx'
alias kns='kubens'

# EU
alias gsh="gcloud compute ssh --tunnel-through-iap"
alias gcp="gcloud compute scp --tunnel-through-iap"

# BR
alias gshbr="gcloud compute ssh --tunnel-through-iap --zone southamerica-east1-b"
alias gcpbr="gcloud compute scp --tunnel-through-iap --zone southamerica-east1-b"

# USC
alias gshus="gcloud compute ssh --tunnel-through-iap --zone us-central1-a"
alias gcpus="gcloud compute scp --tunnel-through-iap --zone us-central1-a"

alias k9sbr="KUBECONFIG=~/.kube/config_br k9s"
alias kbr="KUBECONFIG=~/.kube/config_br kubectl"
alias k9susc="KUBECONFIG=~/.kube/config_usc k9s"
alias kusc="KUBECONFIG=~/.kube/config_usc kubectl"

#CONTENT-EXTRACTION cluster
alias k9scontent="KUBECONFIG=~/.kube/config_content k9s"

# DOCKER
alias drm='docker rm -f $(docker ps -aq)'

