alias lg='lazygit'
alias kill='fkill'
alias ls='exa'
alias ll='ls -l'
alias la='ls -la'
alias x='exit'
alias v='nvim'
alias vi='nvim'
alias vim='nvim'
alias up='cd ..'
alias c='clear'
alias o='open .'
alias rf='rm -rf'
alias t='tree -L 1'
alias cat='bat'
alias aliasconfig='vim ~/.aliases'
alias zshconfig='vim ~/.zshrc'
alias vimconfig='vim ~/.config/nvim/init.vim'
alias tmuxconfig='vim ~/.tmux.conf'
alias gitconfig='vim ~/.gitconfig'

alias ga='git add -p'
alias gdi='git checkout -- .'

alias s='npm run serve'
alias e2e='npm run test:e2e'
