snippet eq
  expect($1).to(equal($2))

snippet ehc
  expect($1).to(have_been_called)

snippet ehcw
  expect($1).to(have_been_called_with($2))

snippet test
	class TestLiftPass:
		def test_something(self) -> None:
			client = app.test_client()

			response = client.get("/prices", query_string={"type": "1jour"})

			assert response.json == {'cost': 35}
