snippet hooks
  #!/bin/bash
  set -e

  function install_git_hooks {
    echo "Installing git hooks..."
    git config core.hooksPath scripts/hooks
  }

  install_git_hooks

snippet pre-commit
  #!/bin/bash
  set -e

  exec < /dev/tty

  make pre-commit
